body, html {
  background: #F9F9F9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.25rem;
}

header {
  background: #D7D4FF;
  padding: 4rem 0;
}

header .header-content {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

header .header-content h1 {
  color: #2B2B2B;
  font-family: 'Merriweather';
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 1.125rem;
  width: 70%;
}

header .header-content p {
  color: #555;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 3rem;
  width: 70%;
}

header .header-content button {
  border-radius: 0.25rem;
  background: #6C63FF;
  box-shadow: 0px 5px 5px 0px rgba(23, 23, 23, 0.10);
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.875rem 3rem;
  width: fit-content;
  transition: 0.2s;
}

header .header-content button:hover {
  cursor: pointer;
  filter: brightness(120%) saturate(120%);
}

header .header-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-image img {
  width: 100%;
}


section {
  padding: 9rem 0;
}

section .section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 6rem;
}

section .card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

section .card-background {
  height: 12rem;
}

section .card-content {
  padding: 1.5rem;
}

section .card-content h3 {
  color: #2B2B2B;
  font-family: 'Merriweather';
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.625rem;
}

section .card-content p {
  color: #555;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.438rem;
}

section .background-red {
  background: #FF6363;
}

section .background-cyan {
  background: #63ECFF;
}

section .background-pink {
  background: #F363FF;
}

section .background-green {
  background: #63FF73;
}

section .background-yellow {
  background: #FFDD63;
}

section .background-blue {
  background: #6663FF;
}


@media (max-width: 950px) {
  .header-grid {
    grid-gap: 2rem;
  }

  header {
    padding: 2rem 0;
  }
  

  header .header-content h1 {
    width: 100%;
  }
  
  header .header-content p {
    width: 100%;
  }

  section .section-grid {
    grid-gap: 1rem;
  }
}

@media (max-width: 700px) {
  .header-grid {
    grid-gap: 1rem;
  }

  .header-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
  }

  header {
    padding: 1rem 0;
  }

  header .header-content h1 {
    text-align: center;
  }
  
  header .header-content p {
    text-align: center;
  }

  header .header-content button {
    margin: 0 auto;
  }

  header .header-image img {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }

  section .section-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .header-grid {
    grid-gap: 1rem;
  }

  header .header-content h1 {
    text-align: left;
  }
  
  header .header-content p {
    text-align: left;
  }

  header .header-content button {
    margin: 0;
  }

  section .section-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}